.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBarBrand {
  text-decoration: none;
  font-size: x-large;
}
.navBarBrandActive {
  text-decoration: none;
  color: rgb(246, 243, 243);
}

.navButtons {
  padding-top: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: end;
}
.navButton {
  text-decoration: none;
  color: white;
}

.navButtonActive {
  text-decoration: none;
  color: rgb(216, 38, 38);
}

.breadLink {
  text-decoration: none;
}
